<div class="hfooter">
    <div class="container">
        <div class="columns" style="align-items: center;"">
            <div class="column is-1 has-text-centered">
                <img style="width: 100%; height: 100%;" src="img/almix.png" alt="Almix LLC Logo">
            </div>
            <div class="column is-4">
                <p style="color:white;">
                    <strong style="color: white;">Copyright &copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> Almix, LLC. All rights reserved.</strong>
                    <br> <a class="pogchamp" href="/terms">Terms & Conditions</a> &bull; <a class="pogchamp" href="/privacy">Privacy Policy</a> &bull; <a class="pogchamp" href="https://pvpbeach.com/jobs">Jobs</a>
                </p>
            </div>
        </div> 
    </div>
</div>