# ==================================================== #

# Fynda
# The custom made website for the PvPBeach Network

# .gitignore - DNI unless you know what you're doing.

# ==================================================== #

# Macintosh System .DS_Store files
.DS_Store

# NodeJS Packages PvPBeacher
node_modules

# Configuration Files
/Configuration/Database.js
/Configuration/API.js