@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
    font-family: Raleway;
    letter-spacing: 1px;
    font-weight: bolder !important;
}

.header {
    padding-top: 130px;
    padding-bottom: 130px;
    background: url('/assets/img/bg-primary.png');
}

.announce-title {
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(37, 193, 255);
    text-align: center;
}

.hfooter {
    background: rgb(228, 228, 228);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.navbar-item:hover {
    color: white !important;
    background-color: black !important;
}

.announcement .subtitle {
    font-family: Questrial;
}

.navbar-brand {
    font-family: Questrial;
    letter-spacing: 1.9px;
}