<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/errors.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body style="height: 100vh;">
    <%- include('./partials/Navbar.ejs') %>

    <div class="container error-data">
        <h1 class="title is-1" style="color: #fff; font-family: 'Outfit', sans-serif;">404 &mdash; Page Not Found</h1>
        <p class="subtitle" style="color: #fff;">The page you requested could not be found.</p>
        <hr>
        <div class="columns">
            <div class="column">
                <a href="/" class="button is-block is-success is-rounded">
                    <span style="color: #fff;">
                        <i class="fas fa-home"></i>
                    </span>
                    <span style="color: #fff;">Click to go home</span>
                </a>
            </div>
            <div class="column">
                <a href="/support" class="button is-block is-info is-rounded">
                    <span style="color: #fff;">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span style="color: #fff;">Click to create a ticket</span>
                </a>
            </div>
        </div>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</body>
</html>