<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PvPBeach Client &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- begin embed -->
    <meta property="og:title" content="PvPBeach Network">
    <meta property="og:description" content="Taking Practice to the next level">
    <meta property="og:url"  content="https://pvpbeach.com">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/949111822445846648/992245916260118608/Untitled2601121.png">
    <meta name="theme-color" content="#D229CF">
    <!-- end embed -->

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body style="height: 100%; background: white;">
<%- include('./partials/Navbar.ejs') %>

<div class="container content">
    <br>
    <br>

    <div class="has-text-centered" style="padding-bottom: 10vh;">
        <h1 class="title is-1" style="font-weight: 800;">PvPBeach Client</h1>
        <p class="subtitle">We're working on it! Come back soon.</p>
        <hr>
        <strong>Progress:</strong> Slowly but surely. We still need our code signing certificate before releasing an alpha
    </div>

</div>

<div style=" position: fixed;
    bottom: 0;
    width: 100%;">
    <%- include('./partials/Footer.ejs') %>
</div>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
<script src="/js/PostHelper.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</body>
</html>