<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot my password &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- begin embed -->
    <meta property="og:title" content="PvPBeach Network">
    <meta property="og:description" content="Taking Practice to the next level">
    <meta property="og:url"  content="https://pvpbeach.com">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/949111822445846648/992245916260118608/Untitled2601121.png">
    <meta name="theme-color" content="#D229CF">
    <!-- end embed -->

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body style="height: 100vh;">
<%- include('./partials/Navbar.ejs') %>
<div class="container error-data">
    <br>
    <br>
    <div class="box coolio header has-text-centered">
        <h1 class="title is-2" style="color:white;">
            <strong>Forgot your password?</strong>
        </h1>
    </div>
    <br>
    <form action="/auth/forgot" method="POST">
        <div id="forgot-app">
            <div class="field">
                <label class="label" style="color: #fff;">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input style="font-family: 'Raleway', serif !important;" name="email" class="input" type="text" placeholder="Your email, the one you set when registering.">
                    <span class="icon is-small is-left">
                        <i class="material-icons">mail</i>
                    </span>
                </div>
            </div>
        </div>
        <div id="forgot-message">

        </div>
        <hr>
        <button onclick="forgot();" type="submit" class="button is-success is-block">
            Send me an email
        </button>
        <small><a href="/auth/login">Remembered?</a></small>
    </form>
    <br>
</div>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
<script src="/js/Authentication.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</body>
</html>