<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- begin embed -->
    <meta property="og:title" content="PvPBeach Network">
    <meta property="og:description" content="Taking Practice to the next level">
    <meta property="og:url"  content="https://pvpbeach.com">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/949111822445846648/992245916260118608/Untitled2601121.png">
    <meta name="theme-color" content="#D229CF">
    <!-- end embed -->

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body style="height: 100vh;">
<%- include('./partials/Navbar.ejs') %>
<div class="container">
    <br>
    <br>
    <div class="box coolio header has-text-centered">
        <h1 class="title is-2" style="color:white;">
            <strong>Register your account</strong>
        </h1>
    </div>
    <br>
    <% if (req.query.accessID) { %>
    <form action="/auth/register?accessID=<%= req.query.accessID %>" method="POST">
        <div class="field">
            <label class="label">Username (auto-filled)</label>
            <div class="control has-icons-left has-icons-right">
                <input style="font-family: 'Raleway', serif !important;" name="username" class="input" type="text" value="<%= obj.name %>" disabled>
                <span class="icon is-small is-left">
                    <i class="material-icons">person</i>
                </span>
            </div>
        </div>
        <br>
        <div class="field">
            <label class="label">Email (auto-filled)</label>
            <div class="control has-icons-left has-icons-right">
                <input style="font-family: 'Raleway', serif !important;" name="email" class="input" type="email" value="<%= obj.email %>" disabled>
                <span class="icon is-small is-left">
                    <i class="material-icons">email</i>
                </span>
            </div>
        </div>
        <br>
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input style="font-family: 'Raleway', serif !important;" name="password" class="input" type="password" placeholder="Your password. Don't worry, it's safe with us">
                <span class="icon is-small is-left">
                    <i class="material-icons">fingerprint</i>
                </span>
            </div>
        </div>
        <br>
        <div class="field">
<!--            <label class="label">Confirm Password</label>-->
            <div class="control has-icons-left has-icons-right">
                <input style="font-family: 'Raleway', serif !important;" name="password2" class="input" type="password" placeholder="Re-type the password you entered above, just to make sure you remember it.">
                <span class="icon is-small is-left">
                    <i class="material-icons">fingerprint</i>
                </span>
            </div>
        </div>
        <hr>
        <button type="submit" class="button is-success is-block">
            ✓ Create my account
        </button>
        <small>By registering an account, you agree to our <a href="/legal/privacy">Privacy Policy</a> and our <a href="/legal/terms">Terms & Conditions</a></small>
    </form>
    <% } else { %>
    <p class="subtitle has-text-centered" style="color: #fff;">Please login to <strong style="color: #fff;">pvpbeach.com</strong> and use <code style="background-color: #2f3136; color: #b9bbb3; padding: 7px; font-family: 'Inconsolata'; border-radius: 5px;">/register (email)</code> to create an account.</p>
    <% } %>
    <br>
</div>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
<script src="/js/v2API.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</body>
</html>