<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Syncing &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/errors.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        function handleSync() {
            let count = 0;

            setInterval(() => {
                count++;
                if (count > 3) count = 1;

                document.getElementById('dot').innerText = '.'.repeat(count);
            }, 500);

            setTimeout(() => {
                location.reload();
            }, 6000);
        }
    </script>

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>

</head>
<body onload="handleSync()">
<%- include('./partials/Navbar.ejs') %>

<div class="container error-data">
    <h1 class="title is-1">Please wait<span id="dot">.</span></h1>
    <p class="subtitle">
        We noticed you had updated your profile, so we're getting your website account up to speed.
        <br> This may take a bit.
    </p>
</div>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</body>
</html>