<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Execute &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body>
<%- include('../partials/Navbar.ejs') %>

<div class="content">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <ul class="menu-list">
                        <li><a  style="color: #fff;"href="/panel">Main Page</a></li>
                    </ul>
                    <p class="menu-label" style="color: #fff;">
                        Moderation
                    </p>
                    <ul class="menu-list" style="color: #fff;">
                        <li><a href="/panel/tickets" style="color: #fff;">Tickets</a></li>
                    </ul>
                    <p class="menu-label" style="color: #fff;">
                        Administration
                    </p>
                    <ul class="menu-list" style="color: #fff;">
                        <li><a href="/panel/news" style="color: #fff;">News</a></li>
                    </ul>
                    <p class="menu-label" style="color: #fff;">
                        Maintainer
                    </p>
                    <ul class="menu-list" style="color: #fff;">
                        <li><a href="/panel/restart" style="color: #fff;">Restart <span class="tag is-warning">!</span></a></li>
                        <li><a class="is-active" style="color: #fff;">Execute <span class="tag is-danger">!</span></a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-10">
                <h1 class="title is-2" style="color: #fff;">Maintainer &bull; Execute/Evaluate</h1>
                <p class="subtitle" style="color: #fff;">
                    <strong style="color: #fff;">IMPORTANT</strong> One wrong move and you can fuck up a lot of things. Do not do ANYTHING unless you know what you're doing!
                </p>
                <br>
                <div class="box" style="color: #000 !important;">
                    <p id="response" class="subtitle" style="font-family: monospace;">Nothing here yet.</p>
                    <hr>
                    <div class="columns" style="color: #000 !important;">
                        <div class="column is-10">
                            <input id="evalinput" style="font-family: monospace;" type="text" class="input">
                        </div>
                        <div class="column is-2">
                            <a href="javascript:call();" class="button is-block is-danger">send</a>
                        </div>
                    </div>
                </div>
                <hr>
                <small>&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> Almix, LLC. All rights reserved</small>
            </div>
        </div>

    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
<script>
    function call() {
        let el = document.getElementById('evalinput');
        let el2 = document.getElementById('response');

        console.log(el.value);

        fetch('/panel/exec?toEval=' + el.value, {
            method: 'POST'
        }).then(r => r.text()).then(async r => {
            el2.innerText = r;
            console.log(r);
        });
    }
</script>
</body>
</html>