<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Panel &bull; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body>
<%- include('../partials/Navbar.ejs') %>

<div class="content">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <ul class="menu-list" style="color: #fff;">
                        <li><a class="is-active">Main Page</a></li>
                    </ul>
                    <p class="menu-label" style="color: #fff;">
                        Moderation
                    </p>
                    <ul class="menu-list" style="color: #fff;">
                        <li><a href="/panel/tickets" style="color: #fff;">Tickets</a></li>
                    </ul>
                    <p class="menu-label" style="color: #fff;">
                        Administration
                    </p>
                    <ul class="menu-list" style="color: #fff;">
                        <li><a href="/panel/news" style="color: #fff;">News</a></li>
                    </ul>
                    <p class="menu-label" style="color: #fff;">
                        Maintainer
                    </p>
                    <ul class="menu-list" style="color: #fff;">
                        <li><a href="/panel/restart" style="color: #fff;">Restart <span class="tag is-warning">!</span></a></li>
                        <li><a href="/panel/exec"style="color: #fff;">Execute <span class="tag is-danger">!</span></a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-10">
                <h1 class="title is-2" style="color: #fff;">Staff Panel</h1>
                <p class="subtitle" style="color: #fff;">
                    This is the PvPBeach Network staff panel. Leaking of this page can result in demotion!
                    <br> Tabs will appear to the left depending on your rank.
                </p>
                <hr>
                <small>&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> Almix, LLC. All rights reserved</small>
            </div>
        </div>

    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
</body>
</html>