<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restart &bull; Panel &mdash; MineRIP Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>
</head>
<body>
<%- include('../partials/Navbar.ejs') %>

<div class="content">
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <ul class="menu-list">
                        <li><a href="/panel">Main Page</a></li>
                    </ul>
                    <p class="menu-label">
                        Moderation
                    </p>
                    <ul class="menu-list">
                        <li><a href="/panel/tickets">Tickets</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a href="/panel/news">News</a></li>
                    </ul>
                    <p class="menu-label">
                        Maintainer
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active">Restart <span class="tag is-warning">!</span></a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-10">
                <h1 class="title is-2">Maintainer &bull; Restart</h1>
                <p class="subtitle">
                    <strong>IMPORTANT</strong> Restarting the webserver can have big consequences. Please make sure there are no pending sessions before restarting!
                </p>
                <br>
                <div class="has-text-centered" >
                    <address id="shit">Press the button below if you understand</address>
                    <a href="javascript:call();" class="button is-large is-block is-warning" id="shit2">Restart</a>
                </div>
                <hr>
                <small>&copy; 2021 Bunni and Dannington. All rights reserved.</small>
            </div>
        </div>

    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script>
    function call() {
        fetch('/panel/restart', { method: 'POST' })
            .then(res => res.text())
            .then(res => {
                console.log(res);

                if (res === 'ok') {
                    let el = document.getElementById('shit');
                    let el2 = document.getElementById('shit2');

                    el.innerHTML = 'The webserver is now restarting...';
                    el2.classList.remove('is-warning');
                    el2.classList.add('is-disabled');
                    el2.disabled = true;
                    el2.href = '';
                } else {
                    alert('Server did not accept restart command!');
                    let el = document.getElementById('shit');
                    let el2 = document.getElementById('shit2');

                    el.innerHTML = 'The webserver failed to restart';
                    el2.classList.remove('is-warning');
                    el2.classList.add('is-danger');
                    el2.classList.add('is-disabled');
                    el2.disabled = true;
                    el2.href = '';
                }
            });
    }
</script>
</body>
</html>