<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Privacy Policy</title>

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>

    <style>
        ::selection {
            background: lightblue;
            color: black !important;
        }

        body {
            zoom: 125%;
        }
    </style>
</head>
<body>
<h1>PvPBeach Network Privacy Policy</h1>
<address>Last modified: 1/16/2021 &bull; Almix, LLC.</address>
<hr>
<h2>Abstract</h2>
<p>
    This document will explain how WE, PvPBeach Network, ALMIX, THE WEBSITE ("the company") collects, uses, and discloses information about you. This Privacy Policy applies when you use our websites, and other online products and services that link to this Privacy Policy (collectively, our “Services”).
    <strong>TLDR; We log very little. Your data is safe, and it's not sold.</strong>
</p>
<br>
<h2>Collection of Information</h2>
<p>
    <strong>Information You Provide to Us</strong>
    <br>
    We collect information you provide directly to us. For example, you share information directly with us when you create an account, fill out a support ticket, submit or post content, purchase a rank, or
    otherwise communicate with us. The types of personal information we may collect include your Minecraft in-game Name, in-game unique identifier, email address, your content, your Minecraft skin, and
    any other information you choose to provide such as connections.
    <br>
    <br>

    We do not collect payment information through our Services. We rely on third parties to process payments in connection with our Services. Any information you provide to facilitate such a payment is subject to the third-party payment processor’s privacy policy, and we encourage you to review this policy before you provide any information to the payment processor.
</p>
<br>
<h2>Use of Information</h2>
<p>
    We use the information we collect to provide, maintain, and improve our Services. We also use the information we collect to:
    <ul>
        <li>Create and maintain your PvPBeach Network account;</li>
        <li>Process transactions and send related information;</li>
        <li>Send you technical notices, security alerts, and support and administrative messages;</li>
        <li>Carry out any other purpose described to you at the time the information was collected.</li>
    </ul>
</p>
<br>
<h2>Sharing of Information</h2>
<p>
    We share personal information in the following circumstances or as otherwise described in this policy:
    <ul>
        <li>We share information with other users of the Services. For example, if you use our Services to publish content, post comments, etc. certain information about you will be visible to others, such as your name, other account information you may provide (such as connections), and information about your activities on our Services
            (e.g., your friends, last online date).</li>
        <li>We may disclose personal information if we believe that disclosure is in accordance with, or required by, any applicable law or legal process, including lawful requests by public authorities to meet national security or law enforcement requirements. If we are going to disclose your personal information in response to legal process, we will give you notice
            so you can challenge it (for example by seeking court intervention), unless we are prohibited by law or believe doing so may endanger others or cause illegal conduct. We will object to legal requests for information about users of our Services that we believe are improper.</li>
        <li>We may share personal information if we believe that your actions are inconsistent with our user agreements or policies, if we believe that you have violated the law, or if we believe it is necessary to protect the rights, property, and safety of PvPBeach Network, Almix LLC, our users, the public, or others.</li>
        <li>We share personal information with our lawyers and other professional advisors where necessary to obtain advice or otherwise protect and manage our business interests.</li>
        <li>We may share personal information in connection with, or during negotiations concerning, any merger, sale of company assets, financing, or acquisition of all or a portion of our business by another company.</li>
    </ul>
</p>
<br>
<h2>Your California Privacy Rights</h2>
<p>
    The California Consumer Privacy Act or “CCPA” (Cal. Civ. Code § 1798.100 et seq.) affords consumers residing in California certain rights with respect to their personal information. If you are a California resident, this section applies to you.
    <br>
    <br>
    PvPBeach Network (nor its legal entity, Almix LLC) sell your personal information, or any information at all.
    <br>
    <br>
    Subject to certain limitations, you have the right to (1) request to know more about the categories and specific pieces of personal information we collect, use, and disclose about you, (2) request deletion of your personal information, (3) opt out of any sales of your personal information, if we engage in that activity in the future, and (4) not be discriminated
    against for exercising these rights. You may make these requests by emailing us at legal@almix.cc or some of this might be possible via your settings page (<a href="/settings">here</a>). We will verify a webform request by asking you to provide identifying information. We will not discriminate against you if you exercise your rights under the CCPA.

    If we receive your request from an authorized agent, we may ask for evidence that you have provided such agent with a power of attorney or that the agent otherwise has valid written authority to submit requests to exercise rights on your behalf. This may include requiring you to verify your identity. If you are an authorized agent seeking to make a request, please contact us.
</p>
<br>
<h2>Your European Privacy Rights</h2>
<p>
    If you are located in the European Economic Area (“EEA”), the United Kingdom, or Switzerland, you have certain rights and protections under applicable law regarding the processing of your personal data, and this section applies to you.
    <br> <br>
    <strong>Legal basis for processing</strong>
    <br>
    When we process your personal data, we will do so in reliance on the following lawful bases:
    <ul>
        <li>To perform our responsibilities under our contract with you (e.g., providing the products and services you requested).</li>
        <li>When we have a legitimate interest in processing your personal data to operate our business or protect our interests (e.g., to provide, maintain, and improve our products and services, conduct data analytics, and communicate with you).</li>
        <li>To comply with our legal obligations (e.g., to maintain a record of your consents).</li>
        <li>When we have your consent to do so (e.g., when you opt in to receive non-administrative communications from us). When consent is the legal basis for our processing your personal data, you may withdraw such consent at any time.</li>
    </ul>
    <br> <br>
    <strong>Data Retention</strong>
    <br>
    We store your data as long as your account remains active. When you choose to delete your account, we clear your user from our database as well as any other content you have posted (e.g., tickets, posts, etc.). This process is close to instant,
    however data will remain on our hard drives and RAM for a little longer due to technical limitations.
    <br> <br>
    <strong>Data Subject Requests</strong>
    <br>
    Subject to certain limitations, you have the right to request access to the personal data we hold about you and to receive your data in a portable format, the right to ask that your personal data be corrected or erased, and the right to object to, or request that we restrict, certain processing. To exercise your rights:
    <ul>
        <li>If you sign up for a PvPBeach Network account, you may at any time request an export of your personal information from the Settings page (<a href="/settings">here</a>).</li>
        <li>You may correct the information we have from the Settings page (<a href="/settings">here</a>).</li>
        <li>You can delete your account at any time from  the Settings page (<a href="/settings">here</a>).</li>
        <li>You may object at any time to the use of your personal data by contacting <a href="mailto:legal@almix.cc">legal@almix.cc</a></li>
    </ul>
    <br>
    <strong>Questions or Complaints</strong>
    <br>
    If you have a concern about our processing of personal data that we are not able to resolve, you have the right to lodge a complaint with the Data Protection Authority where you reside.
<br> <br>
<h2>Transfer of information</h2>
<p>
    ALMIX, LLC (and thus PvPBeach Network) is headquartered in the United States. However, your data will be processed and stored by an OVH dedicated server located in Montreal, Canada. Your data will <strong>only</strong> be stored there, but data might pass through other locations because of services we use such as TCPShield (<a href="https://tcpshield.com">here</a>) and Cloudflare (<a href="https://cloudflare.com">here</a>).
</p>
<br>
<h2>Contact</h2>
<p>
    If you have a dispute, concern, question, etc. please direct it to <a href="mailto:legal@almix.cc">legal@almix.cc</a>. We will not respond to legal matters over any other communication method
</p>
<hr>
<center>&copy; 2021 ALMIX, LLC. All rights reserved</center>
</body>
</html>