<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms Of Service  &mdash; PvPBeach Network</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/flash.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.3/pace.min.js"></script>

</head>
<body onload="handleSync()">
<%- include('../partials/Navbar.ejs') %>

<div class="container content">
    <h1 class="title is-1">Terms Of Service</h1>
    <p class="subtitle">Last modified: 10/21/2021</p>
    <hr>
    <br>
    <p class="subtitle">
        <h2 class="title is-3">Abstract</h2>
        <p>
            By using or accessing any of PvPBeach's services you are agreeing to PvPBeach's Terms and Conditions. If you do not or have failed to comply with any of our terms and conditions you are prohibited from using or accessing this site and/or the entirety of our services..
        </p>
        <h2 class="title is-3">Trademarks and copyrights</h2>
        <p>
            <br>
            Minecraft content and materials are trademarks and copyrights of Mojang AB or its licensors. All rights reserved. 
            This site is a part of PvPBeach and is not affiliated with Mojang AB. Emoji icons provided free by EmojiOne
            <br>
        </p>
        <h2 class="title is-3">Registration</h2>
        <p>
            By registering to any PvPBeach services you agree to these terms and conditions:
            PvPBeach reserves the right to deny or reject any username.
        </p>
        <h2 class="title is-3">Modification of the Terms and Conditions</h2>
        <p>
            We reserve the right to change this terms and conditions from time to time without notice.
             You acknowledge and agree that it is your responsibility to review this User Agreement periodically to familiarize yourself with any modifications. 
             Your continued use of this site after such modifications will constitute acknowledgment and agreement of the modified terms and conditions. 
        </p>
        <h2 class="title is-3">Website/Server Terms and Conditions of Use</h2>
        <p><bold>1. Terms</bold>
            By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.
            If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
        </p>
        <p><bold>2. Disclaimer</bold>
            The materials on PvPBeach's web site are provided "as is". PvPBeach makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. 
            Furthermore, PvPBeach does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
        </p>
        <p><bold>3. Limitations</bold>
            In no event shall PvPBeach or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on PvPBeach's Internet site, even if PvPBeach or a PvPBeach authorized representative has been notified orally or in writing of the possibility of such damage. 
            Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.   
        </p>
        <p><bold>4. Revisions and Errata</bold>
            The materials appearing on PvPBeach's web site could include technical, typographical, or photographic errors. PvPBeach does not warrant that any of the materials on its web site are accurate, complete, or current. 
            PvPBeach may make changes to the materials contained on its web site at any time without notice. PvPBeach does not, however, make any commitment to update the materials.
        </p>
        <p><bold>5. Links</bold>
            PvPBeach has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site.
            The inclusion of any link does not imply endorsement by PvPBeach of the site. Use of any such linked web site is at the user's own risk.
        </p>
        <p><bold>6. Governing law</bold>
            Any claim relating to PvPBeach's web site shall be governed by the laws of the State of Oklahoma without regard to its conflict of law provisions.
        </p>
        <p><bold>7. Prohibited Actions and Content</bold>
            When using any PvPBeach services you will not:
            <ul>
                <li>Attempt to gather information from other users unless they are notified.</li>
                <li>Post any pornographic content, this includes links and or sites.</li>
                <li>Upload any malicious content or viruses.</li>
                <li>Bully, harass, or intimidate any user.</li>
                <li>Engage in illegal activities; Users will have to abide by the laws of the United States of America.</li>
                <li>Engage in discriminant content.</li>
                <li>Attempt to circumvent any banishment without the consent of PvPBeach.</li>
                <li>Disrupt communications, see "Disruption of Communications".</li>
            </ul>
        </p>
        <p><bold>8. Disruption of Communications</bold>
            Disruptive communication is anything that inhibits the clean flow of communication between users on PvPBeach.

            Disruptive communication includes but is not limited to:
            <ul>
                <li>Flooding: Posting an excessive number of threads or posts is disruptive to communication. Don't do it.</li>
                <li>Miscellaneous: Communication that disrupts the easy browsing of the site will not be tolerated. This includes exceedingly large pictures, large ASCII art, or links that go to a destination other than the one stated. (Example: Rick rolling.)</li>
            </ul>
        </p>
        <h2 class="title is-3">Privacy Policy</h2>
        <p>
            Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. 
            The following outlines our privacy policy.
            <ul>
                <li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li>
                <li>We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.</li>
                <li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li>
                <li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
                <li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
                <li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
                <li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li>
                <li>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.</li>
            </ul>
        </p>
        <h2 class="title is-3">User Agreement</h2>
        <p>
            We reserve the right to change, with or without notice, any rank price that has been set forth. We also reserve the right to change the contents of a specific rank – the benefits of a certain rank can change, and you will not be entitled to the old rank benefits if we change it. 
            Rest assured that no rank benefit, or any other item in the store, will be changed without a valid, server-balancing reason.

            You agree to indemnify the staff, owners, hosts, advertisers, officers, directors, employees, partners, and all other parties related to this server's staff. By agreeing to these terms, you agree not to present any lawsuit or other legal challenge against the server staff for any reason, whether related to your purchase or not.
            You understand and agree that your use of this website and any services or content provided is made available and provided to you at your own risk. It is provided to you as-is and we expressly disclaim all warranties of any kind, expressed or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose, and non-infringement. 
            You understand and agree that neither us nor any participant in the service provides professional advice of any kind and thus use of such advice or any other information is solely at your own risk and without our liability of any kind. Some jurisdictions may not allow disclaimers of implied warranties and the above disclaimer may not apply to you only as it relates to implied warranties.
            You expressly understand and agree that we shall not be liable for any direct, indirect, special, incidental, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible loss (even if we have been advised of the possibility of such damages), resulting from or arising out of (I) The use of or the inability to use the service, 
            (II) The cost to obtain substitute goods and/or services resulting from any transaction entered into or through the service, (III) Unauthorized access to or alteration of your data transmissions, (IV) Statements or conduct of any third party on the service, or (V) any other matter relating to the service. Note that by accepting the terms in the document, you are also waiving your right, to take any action, 
            legal or otherwise, against anyone or anything related to the staff, management, administrators, members, owners or any hosts of this server. You furthermore acknowledge that if any part of this document is found to be invalid or unenforceable in any way, any parts not found to be invalid or unenforceable will be considered fully valid and binding.

            Any staff, owners, hosts, advertisers, officers, directors, employees, partners, and all other parties related to this servers staff reserve the right, with the appropriate permissions, to forcibly make you leave the server, permanently or temporarily, with no chance of refund. If you obey the rules, you will never be banned, plain and simple.
            By accessing PvPBeach services, you agree that you will not create content that contains hacking, slander, or malicious game disruption. Youtubers, Streamers, and Content Creators are encouraged to release videos for monetary purposes so long as it is within the conjunction of PvPBeach's rules. Any egregious hacking, leaks, slander, or abusive behavior will not be permitted to use in content recorded on servers and games owned by OrbitGames LLC. 
            For content that violates said rules, you irrevocably grant PvPBeach  all rights related to any work created and waive all of your own rights, including moral rights, to content that contains cheating or other malicious and disruptive activity and understand that all previous rights you have had in said content are forfeited.
        </p>Refund Policy</h2>        
        <p>
            All sales are final, you may not buyback, stop, credit the server by any means necessary in order to receive your funds back that of which have been paid. And in doing so we reserve the right to disallow your continued play on the server/forums and not allow further funds to be added or taken away. 
            We reserve the right to pursue any legal or collection action necessary to recover damages in the event of a forced charge-back.
        </p>

    </p>
</div>

<%- include('../partials/Footer') %>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>